@charset "Shift_JIS";

body{
    background-color : white;
    margin: 0;
    padding: 0;
    color : #bebebe;
    font : normal normal normal 18px /1.4 "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
    -webkit-text-size-adjust: none;
}

body.hpb-layoutset-02{
    position: relative;
    border-top: none;
}

span.en{
    display: none;
}

/* スキップリンクの非表示 */
#hpb-skip{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

body.hpb-layoutset-02 #hpb-skip{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

/* ヘッダー */
#hpb-headerMain{
    display: none;
}

#hpb-headerExtra1{
    display: none;
}

#hpb-headerExtra2{
    display: none;
}

/* インナー */
#hpb-inner{
    padding: 0;
}

/* タイトル */
#hpb-title
{
}
.hpb-layoutset-01 #hpb-title{
    display: none;
}

.hpb-layoutset-02 #hpb-title{
    padding-top: 10px;
}

.hpb-layoutset-02 #hpb-title h2{
    background: #00a0e9;
    min-height: 25px;
    margin: 0 0 12px;
    padding: 3px 15px 0;
    font-weight: normal;
    color: #fff;
    line-height: 1.2;
    word-break: break-all;
}

.hpb-layoutset-02 #hpb-title h2::after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.hpb-layoutset-02 #hpb-title h2 span{
    float: left;
    display: block;
    margin-top: -3px;
    font-size: 25px;
    line-height: 28px;
    font-family: 'Helvetica' , 'Arial' , sans-serif;
}

.hpb-layoutset-02 #hpb-title h2 span.ja{
    font-size: 23px;
}

.hpb-layoutset-02 #hpb-title h2 span.en{
    display: none;
}

/* ナビゲーション */
h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

.hpb-layoutset-01 #hpb-nav{
    margin: 5px 8px 0;
}

.hpb-layoutset-02 #hpb-nav{
    margin: 60px 8px 0;
}

/* メインコンテンツ */
.hpb-layoutset-02 #hpb-main{
    padding: 0;
}

img, img a{
    border: none !important;
}

/* footer */
#hpb-footer{
    margin-top: 30px;
}

.hpb-layoutset-01 #hpb-footer{
    margin-top: 5px;
}

#hpb-footerExtra1{
    padding-top: 0px;
}

#hpb-footerExtra1 ul{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

#hpb-footerExtra1 ul li{
    display: inline-block;
    padding: 0 7px;
}

#hpb-footerExtra1 ul li a{
    background-image : url(ico_plus_gray_00_1.png);
    background-position: 0px 3px;
    background-repeat: no-repeat;
    padding-left: 10px;
    color: #9fa0a0;
    font-size: 12px;
    text-decoration: underline;
}

.hpb-layoutset-01 #hpb-footerNav{
    display: none;
}

#hpb-footerNav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#hpb-footerMain p{
    background-color: #00a0e9;
    margin: 0;
    padding: 3px 0;
    font: 10px/1.0 'Helvetica' , 'Arial' , sans-serif;
    color: #fff;
    text-align: center;
}

#hpb-aside{
    margin: 30px 8px 10px 8px;
}

#banner ul{
    background-color: transparent;
    background-image : url(bg_menu_00_1.png);
    background-repeat: repeat;
    background-position: left top;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#banner ul li{
    background-color: transparent;
    background-image : url(ico_plus_bule_00_1.png);
    background-repeat: no-repeat;
    background-position: 9px center;
    margin-bottom: 3px;
    line-height: 1.1;
}

#banner ul li a{
    background-color: transparent;
    background-image : url(ico_arrow_00_1.png);
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    height: 32px;
    padding: 8px 10px 0 24px;
    color: #dcdddd;
    text-decoration: none;
    font-size: 23px;
}
