@charset "Shift_JIS";

/* Navigation
============================================================ */

#hpb-nav ul{
    background-image : url(bg_menu_00_1.png);
    background-position: left top;
    background-repeat: repeat;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#hpb-nav ul li{
    background-image : url(ico_plus_bule_00_1.png);
    background-position: 9px center;
    background-repeat: no-repeat;
    margin-bottom: 3px;
    line-height: 1.1;
}
.hpb-layoutset-01 #hpb-nav ul li a, .hpb-layoutset-02 #hpb-nav ul li a{
    background-image : url(ico_arrow_00_1.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    padding: 8px 10px 0 24px;
    color: #dcdddd;
    text-decoration: none;
}

#hpb-nav ul li span.en, #hpb-nav ul li span.ja{
    display: block;
    height: 22px;
    font-size: 23px;
}

#hpb-nav ul li span.en
{
}
#hpb-nav ul li span.ja{
    display: none;
}


/* Footer Navigation
============================================================ */

#hpb-footerNav ul li{
    display: inline-block;
    height: 30px;
    width: 50%;
    margin: 0 0 5px;
    text-align: center;
    font-size: 15px;
    text-indent: -9999px;
}
#hpb-footerNav ul li a{
    display: block;
    background: #22201f;
    height: 35px;
    margin: 0;
    text-decoration: none;
}
#hpb-footerNav ul li a span{
    display: block;
    width: 120px;
    height: 35px;
    margin: 0 auto;
}
#hpb-footerNav ul li#home a span.ja, #hpb-footerNav ul li#home a span.en{
    background-image : url(ico_home_00_1.png);
    background-position: center 7px;
    background-repeat: no-repeat;
}
#hpb-footerNav ul li#pagetop a span.ja, #hpb-footerNav ul li#pagetop a span.en{
    background-image : url(ico_pagetop_00_1.png);
    background-position: center 7px;
    background-repeat: no-repeat;
}
#hpb-footerNav ul li#home a span.en, #hpb-footerNav ul li#pagetop a span.en{
    display: none;
}


/* Main Contents
============================================================ */

/* header logo */
#hpb-headerLogo a{
    display: block;
    background-image : url(header_title_11_1.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 304px;
    height: 80px;
    margin: 5px 0 0;
    padding: 0 8px;
    text-indent: -9999px;
    overflow: hidden;
}

/* Top Page */
.hpb-layoutset-01 #hpb-main{
    color: #fff;
}
.hpb-layoutset-01 #hpb-main #toppage{
    padding: 35px 8px 15px;
    overflow: hidden;
}
.hpb-layoutset-01 #hpb-main #toppage h3, .hpb-layoutset-01 #hpb-main #toppage p.large{
    margin: 0;
    padding: 5px;
    color: #00a0e9;
    font-size: 22px;
    line-height: 25px;
    word-break: break-all;
}
.hpb-layoutset-01 #hpb-main #toppage p{
    margin: 0 0 1em;
    padding: 0 5px;
    font-size : 16px;
    line-height: 1.5;
}
.hpb-layoutset-01 #hpb-main #toppage .item{
    padding: 0 5px 25px;
}
.hpb-layoutset-01 #hpb-main #toppage #toppage-news dl{
    margin: 0 5px;
    font-size: 12px;
    line-height: 1.5;
}

/* Second Page */
.hpb-layoutset-02 #hpb-main .hpb-section{
    padding: 0 0 30px;
    overflow: hidden;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main .hpb-section p{
    margin: 0 0 1em;
    padding: 0 15px;
    color: #bebebe;
    font-size: 12px;
    word-break: break-all;
}
.hpb-layoutset-02 #hpb-main h3{
    background-image : url(bg_h3_00_1.png);
    background-position: left top;
    background-repeat: repeat;
    min-height: 22px;
    margin: 0 0 20px;
    padding: 2px 15px 0 14px;
    font-size: 17px;
    color: #fff;
    line-height: 1.0;
}
.hpb-layoutset-02 #hpb-main h4{
    margin: 0 0 10px;
    padding: 0 15px;
    font-size: 17px;
    color: #bebebe;
}


/* ========== topics ========== */
#hpb-main #toppage{
    color : black;
}
.hpb-layoutset-02 #hpb-main #toppage .hpb-section{
    padding: 0;
}
#hpb-main .hpb-section .news-comment{
    padding: 0px 15px 40px;
    overflow: hidden;
}
#hpb-main .hpb-section .news-photo{
    float: left;
    padding-right: 15px;
}
.hpb-layoutset-02 #toppage span.date{
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 15px 0 0;
    font-size: 17px;
    font-weight: bold;
    color: #bebebe;
}
#hpb-main #toppage .item{
    padding: 0 15px 25px;
}
#hpb-main #toppage .item img{
    display: block;
    padding: 0 0 5px;
}
#hpb-main #toppage .item h4{
    margin: 0;
    padding: 0 0 5px;
}
#hpb-main #toppage .item h5{
    margin: 0 0 10px;
    padding: 0;
    font-size: 12px;
}
#hpb-main #toppage .item p{
    padding: 0;
}
#hpb-main #toppage #toppage-news dl{
    margin: 0 15px;
    font-size: 12px;
}
#hpb-main #toppage #toppage-news dt{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
#hpb-main #toppage #toppage-news dd{
    margin: 0 0 5px;
    overflow: hidden;
}
#hpb-main #topics #toppage-news ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#hpb-main #topics #toppage-news li{
    margin: 0 15px 25px;
}
#hpb-main #topics #toppage-news h4{
    padding: 0;
}

#hpb-main #toppage .news-comment{
    margin: 0 5px 10px;
    padding: 10px;
    overflow: hidden;
}
#hpb-main #toppage #toppage-info p{
    margin: 0;
}
#hpb-main #toppage #toppage-info img{
    display: block;
    margin: 0 auto 15px;
}
#hpb-main #toppage #toppage-info img.shopinfo{
    margin: 15px auto 30px;
}
#hpb-main #toppage .news-photo{
    float: left;
    margin: 0 10px 0 0;
}
#hpb-main #toppage .news-comment span.date{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
#hpb-main #toppage .info-comment{
    padding: 0 15px 35px;
}
#hpb-main #toppage .info-comment h4{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
#hpb-main #toppage .info-comment .info-photo{
    margin: 0;
}
#hpb-main #toppage #toppage-info .info-comment .info-photo img{
    margin: 0 0 10px;
}

/* ========== Profile ========== */
/* ========== Schedule ========== */
.hpb-layoutset-02 #hpb-main #profile p.large{
    margin: 0 15px 15px;
}
.hpb-layoutset-02 #hpb-main #schedule #schedule-cont .hpb-section{
    padding: 0;
}
.hpb-layoutset-02 #hpb-main #entrance table, .hpb-layoutset-02 #hpb-main #policy table, .hpb-layoutset-02 #hpb-main #profile table, .hpb-layoutset-02 #hpb-main #schedule table{
    width: 92%;
    border-collapse: collapse;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #entrance table th, .hpb-layoutset-02 #hpb-main #entrance table td, .hpb-layoutset-02 #hpb-main #policy table th, .hpb-layoutset-02 #hpb-main #policy table td, .hpb-layoutset-02 #hpb-main #profile table th, .hpb-layoutset-02 #hpb-main #profile table td, .hpb-layoutset-02 #hpb-main #schedule table th, .hpb-layoutset-02 #hpb-main #schedule table td{
    padding: 6px;
    text-align: left;
}
.hpb-layoutset-02 #hpb-main #entrance table tr th, .hpb-layoutset-02 #hpb-main #policy table tr th, .hpb-layoutset-02 #hpb-main #profile table tr th, .hpb-layoutset-02 #hpb-main #schedule table tr th{
    background: #333;
    border-bottom: 1px solid #777;
}
.hpb-layoutset-02 #hpb-main #entrance table tr:nth-child(odd), .hpb-layoutset-02 #hpb-main #policy table tr:nth-child(odd), .hpb-layoutset-02 #hpb-main #profile table tr:nth-child(odd), .hpb-layoutset-02 #hpb-main #schedule table tr:nth-child(odd){
    background: #333;
}
.hpb-layoutset-02 #hpb-main #entrance table tr:nth-child(even), .hpb-layoutset-02 #hpb-main #policy table tr:nth-child(even), .hpb-layoutset-02 #hpb-main #profile table tr:nth-child(even), .hpb-layoutset-02 #hpb-main #schedule table tr:nth-child(even){
    background: #222;
}

/* ========== Report ========== */
/* ========== Information ========== */
.hpb-layoutset-02 #hpb-main #report .hpb-section
{
}
.hpb-layoutset-02 #hpb-main #report .hpb-section img, .hpb-layoutset-02 #hpb-main #information .hpb-section img{
    padding: 0 15px 10px;
}

/* ========== Estate ========== */
.hpb-layoutset-02 #hpb-main #estate .hpb-section{
    padding-bottom: 10px;
}
.hpb-layoutset-02 #hpb-main #estate .hpb-section .data{
    padding-bottom: 30px;
}
.hpb-layoutset-02 #hpb-main #estate .hpb-section .data img{
    display: block;
    padding: 0 15px 10px;
}
.hpb-layoutset-02 #hpb-main #estate .hpb-section .data h4{
    font-size: 15px;
}
.hpb-layoutset-02 #hpb-main #estate .hpb-section .data span.price{
    font-size: 13px;
    font-weight: bold;
}

/* ========== Detail ========== */
.hpb-layoutset-02 #hpb-main #detail
{
}
.hpb-layoutset-02 #hpb-main #detail h3{
    min-height: 22px;
    margin: 0 0 20px;
    padding: 2px 15px 0 14px;
    font-size: 17px;
    color: #fff;
    line-height: 1.0;
}
.hpb-layoutset-02 #hpb-main #detail img{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #detail .hpb-section h4{
    margin-top: 20px;
    font-size: 15px;
}
.hpb-layoutset-02 #hpb-main #detail dl{
    padding: 0 15px 20px;
}
.hpb-layoutset-02 #hpb-main #detail dt{
    float: left;
    width: 5em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #detail dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== Plan ========== */
.hpb-layoutset-02 #hpb-main #plan
{
}
.hpb-layoutset-02 #hpb-main #plan p.large{
    padding: 0 15px;
}
.hpb-layoutset-02 #hpb-main #plan dl{
    padding: 0 15px 20px;
}
.hpb-layoutset-02 #hpb-main #plan dt{
    float: left;
    width: 7em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #plan dd{
    margin: 0 0 5px;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #plan .hpb-section img{
    display: block;
    padding: 0 15px 10px;
}

/* ========== Dish ========== */
.hpb-layoutset-02 #hpb-main #dish
{
}
.hpb-layoutset-02 #hpb-main #dish .hpb-section{
    margin: 30px 0 0;
    padding: 0;
}
.hpb-layoutset-02 #hpb-main #dish > p{
    padding: 0 15px;
}
.hpb-layoutset-02 #hpb-main #dish img{
    display: block;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #dish dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #dish dt{
    float: left;
    padding-left: 18px;
    font-size: 15px;
    clear: both;
}
.hpb-layoutset-02 #hpb-main #dish dd{
    border-bottom: 1px solid #3e3a39;
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
    font-size: 13px;
    color: #00a0e9;
    text-align: right;
}

/* ========== Order ========== */
.hpb-layoutset-02 #hpb-main #order ol li{
    margin-bottom: 5px;
}

/* ========== Entrance ========== */
/* ========== Program ========== */
.hpb-layoutset-02 #hpb-main #program img, .hpb-layoutset-02 #hpb-main #entrance img{
    padding: 0 15px 10px;
}

/* ========== Shop ========== */
.hpb-layoutset-02 #hpb-main #shop
{
}
.hpb-layoutset-02 #hpb-main #shop table{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #shop table th, .hpb-layoutset-02 #hpb-main #shop table td{
    border: 1px solid #999;
    padding: 6px;
}
.hpb-layoutset-02 #hpb-main #shop table tr td{
    text-align: left;
}
.hpb-layoutset-02 #hpb-main #shop table tr th{
    background: #333;
    text-align: center;
}
.hpb-layoutset-02 #hpb-main #shop table tr:nth-child(odd){
    background: #111;
}
.hpb-layoutset-02 #hpb-main #shop table tr:nth-child(even){
    background: #000;
}
.hpb-layoutset-02 #hpb-main #shop dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #shop dt{
    float: left;
    clear: left;
    width: 8.5em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #shop dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== Campaign ========== */
.hpb-layoutset-02 #hpb-main #campaign
{
}
.hpb-layoutset-02 #hpb-main #campaign .image{
    padding: 0 15px 15px;
}
.hpb-layoutset-02 #hpb-main #campaign p.icon{
    padding: 10px;
}
.hpb-layoutset-02 #hpb-main #campaign p.icon img{
    padding: 0 5px;
}
.hpb-layoutset-02 #hpb-main #campaign img{
    padding: 0 15px 10px;
}
.hpb-layoutset-02 #hpb-main #campaign h4{
    font-size: 15px;
}
.hpb-layoutset-02 #hpb-main #campaign p.price{
    font-size: 13px;
    font-weight: bold;
}

/* ========== Guide ========== */
/* ========== concept ========== */
.hpb-layoutset-02 #hpb-main #guide .hpb-section, .hpb-layoutset-02 #hpb-main #concept .hpb-section{
    padding-bottom: 45px;
}
.hpb-layoutset-02 #hpb-main #guide .hpb-section:last-child, .hpb-layoutset-02 #hpb-main #concept .hpb-section:last-child{
    padding-bottom: 15px;
}
.hpb-layoutset-02 #hpb-main #guide .hpb-section img, .hpb-layoutset-02 #hpb-main #concept .hpb-section img{
    display: block;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #concept h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.hpb-layoutset-02 #hpb-main #guide .hpb-section:last-child p:last-child, .hpb-layoutset-02 #hpb-main #concept .hpb-section:last-child p:last-child{
    margin-bottom: 0;
}
.hpb-layoutset-02 #hpb-main #guide dl, .hpb-layoutset-02 #hpb-main #concept dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #guide dt, .hpb-layoutset-02 #hpb-main #concept dt{
    float: left;
    width: 5.5em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #guide dd, .hpb-layoutset-02 #hpb-main #concept dd{
    margin: 0 0 5px;
    overflow: hidden;
}

/* ========== facilities ========== */
.hpb-layoutset-02 #hpb-main #facilities img{
    display: block;
    padding: 0 15px 5px;
}

/* ========== info ========== */
.hpb-layoutset-02 #hpb-main #info table{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #info table th, .hpb-layoutset-02 #hpb-main #info table td{
    border: 1px solid #999;
    padding: 6px;
    text-align: center;
}
.hpb-layoutset-02 #hpb-main #info table th:nth-child(odd){
    background: #222;
}
.hpb-layoutset-02 #hpb-main #info table th:nth-child(even){
    background: #000;
}
.hpb-layoutset-02 #hpb-main #info table td:nth-child(odd){
    background: #333;
}
.hpb-layoutset-02 #hpb-main #info table td:nth-child(even){
    background: #111;
}
.hpb-layoutset-02 #hpb-main #info table tr td:first-child{
    background: #111;
}
.hpb-layoutset-02 #hpb-main #info table tr th:first-child{
    background: #222;
    text-align: left;
}

/* ========== service ========== */
.hpb-layoutset-02 #hpb-main #service .hpb-section{
    margin: 8px 0 0;
    padding: 0;
}
.hpb-layoutset-02 #hpb-main #service .hpb-section img{
    display: block;
    margin: 0 15px 10px;
}
.hpb-layoutset-02 #hpb-main #service .hpb-section p{
    margin-bottom: 30px;
}

/* ========== itemlist ========== */
.hpb-layoutset-02 #hpb-main #item .hpb-section{
    margin: 8px 0 0;
    padding: 0;
}
.hpb-layoutset-02 #hpb-mainitemlist .hpb-section{
    padding: 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section .itemlist{
    padding: 0 15px 10px;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section .itemlist .item{
    padding: 0 0 25px;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section .itemlist .item h4{
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section .itemlist .item h5{
    margin: 0 0 5px;
    padding: 0;
    font-size: 12px;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section p{
    padding-left: 0;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section #nbanner{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #item .hpb-section ul{
    margin-right: 15px;
}

/* ========== company ========== */
.hpb-layoutset-02 #hpb-main #company .hpb-section{
    padding: 8px 0 25px;
}
.hpb-layoutset-02 #hpb-main #company dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #company dt{
    float: left;
    width: 5.5em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #company dd{
    margin: 0 0 5px;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #company img{
    padding: 0 15px 10px;
}

/* ========== recruit ========== */
.hpb-layoutset-02 #hpb-main #recruit{
    padding: 8px 0 0;
}
.hpb-layoutset-02 #hpb-main #recruit p.large{
    margin: 0 15px 15px;
}
.hpb-layoutset-02 #hpb-main #recruit dl{
    margin: 0;
}
.hpb-layoutset-02 #hpb-main #recruit dt{
    background-image : url(bg_h3_00_1.png);
    background-position: left top;
    background-repeat: repeat;
    min-height: 22px;
    margin: 0 0 20px;
    padding: 2px 15px 0 14px;
    font-size: 17px;
    color: #fff;
    line-height: 1.0;
}
.hpb-layoutset-02 #hpb-main #recruit dd{
    margin: 15px 15px 30px;
    padding: 0;
}

/* ========== access ========== */
.hpb-layoutset-02 #hpb-main #access{
    padding: 8px 0 0;
}
.hpb-layoutset-02 #hpb-main #access .hpb-section{
    padding: 0 15px;
}
.hpb-layoutset-02 #hpb-main #access img{
    display: block;
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #access .hpb-section p{
    margin: 0 0 10px;
}
.hpb-layoutset-02 #hpb-main #access p strong{
    font-size: 14px;
}

/* ========== menu ========== */
.hpb-layoutset-02 #hpb-main #menu .hpb-section{
    padding: 0 0 10px 0;
}
.hpb-layoutset-02 #hpb-main #menu .hpb-section h3{
    margin-bottom: 10px;
}
.hpb-layoutset-02 #hpb-main #menu dl{
    width: 100%;
    margin: 0;
    padding: 5px 0 0;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #menu dt{
    float: left;
    padding-left: 18px;
    font-size: 15px;
    clear: both;
}
.hpb-layoutset-02 #hpb-main #menu dd{
    border-bottom: 1px solid #3e3a39;
    margin: 0 0 10px 0;
    padding: 0 15px 5px 0;
    font-size: 13px;
    color: #00a0e9;
    text-align: right;
}
.hpb-layoutset-02 #hpb-main #menu p{
    padding: 0 15px;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main #menu img{
    display: block;
    margin: 0 auto 10px;
}

/* ========== news ========== */
.hpb-layoutset-02 #hpb-main #news .hpb-section{
    padding: 10px 0 30px;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main #news p.large{
    padding: 10px 15px 0px;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main #news p.indent{
    text-indent: -1em;
    margin-left: 1em;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section h3{
    margin-bottom: 10px;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section h4{
    font-size: 15px;
    margin: 0;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section h5{
    font-size: 12px;
    margin: 20px 15px 10px;
}
.hpb-layoutset-02 #hpb-main #news .hpb-section p.large{
    margin: 0;
    padding: 0 15px;
}
.hpb-layoutset-02 #hpb-main #news dl{
    margin: 0 15px;
}
.hpb-layoutset-02 #hpb-main #news dt{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #news dd{
    margin: 0 0 5px;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #news img{
    display: block;
    padding: 0 15px 10px;
}

/* ========== access ========== */
.hpb-layoutset-02 #hpb-main #access .hpb-section{
    padding: 0 0 10px 0;
}
.hpb-layoutset-02 #hpb-main #access h4{
    margin: 0;
    font-size: 15px;
    color: #fff;
}
.hpb-layoutset-02 #hpb-main #access .hpb-section img{
    display: block;
    margin: 0 15px 10px;
}
.hpb-layoutset-02 #hpb-main #access .hpb-section img.center{
    margin: 0 auto 10px;
}
.hpb-layoutset-02 #hpb-main #access .hpb-section h4{
    padding: 10px 15px 0;
}

.hpb-layoutset-02 #hpb-main #access p{
    color: #fff;
}

/* ========== Admission ========== */
/* ========== Reservation ========== */
.hpb-layoutset-02 #hpb-main #reserve .hpb-section, .hpb-layoutset-02 #hpb-main #information .hpb-section, .hpb-layoutset-02 #hpb-main #contact .hpb-section, .hpb-layoutset-02 #hpb-main #contactus .hpb-section{
    padding: 0;
}
.hpb-layoutset-02 #hpb-main #contact p{
    color: #fff;
}
.hpb-layoutset-02 #hpb-main #reserve .hpb-section .section, .hpb-layoutset-02 #hpb-main #information .hpb-section .section, .hpb-layoutset-02 #hpb-main #contact .hpb-section .section{
    padding: 15px;
}
.hpb-layoutset-02 #hpb-main #contact .section:last-child{
    padding: 5px 15px 0;
}

.hpb-layoutset-02 #hpb-main #contact .hpb-section h3, .hpb-layoutset-02 #hpb-main #contact .hpb-section h4{
    margin-bottom: 0;
}
.hpb-layoutset-02 #hpb-main #reserve h4, .hpb-layoutset-02 #hpb-main #information h4, .hpb-layoutset-02 #hpb-main #contact h4, .hpb-layoutset-02 #hpb-main #contactus h4{
    margin: 15px 0 0;
    font-size: 14px;
}
.hpb-layoutset-02 #hpb-main #information p, .hpb-layoutset-02 #hpb-main #contact p{
    margin: 10px 0 20px;
}
.hpb-layoutset-02 #hpb-main #information .section p, .hpb-layoutset-02 #hpb-main #contact .section p{
    margin: 5px 0 10px 0;
    padding: 0;
}
.hpb-layoutset-02 #hpb-main #reserve p.large, .hpb-layoutset-02 #hpb-main #information p.large, .hpb-layoutset-02 #hpb-main #contact p.large, .hpb-layoutset-02 #hpb-main #contactus p.large{
    padding: 5px 15px 15px;
}
.hpb-layoutset-02 #hpb-main #reserve .section div, .hpb-layoutset-02 #hpb-main #information .section div, .hpb-layoutset-02 #hpb-main #contact .section div{
    padding: 0 10px;
}

.hpb-layoutset-02 #hpb-main .section input, .hpb-layoutset-02 #hpb-main .section textarea, .hpb-layoutset-02 #hpb-main .section div input, .hpb-layoutset-02 #hpb-main .section div textarea{
    display: inline-block;
    background: #333;
    border: none;
    width: 100%;
    margin: 0 0 0 -10px;
    padding: 10px;
    color: #bebebe;
    font-size: 15px;
}
.hpb-layoutset-02 #hpb-main .section input{
    height: 30px;
}
.hpb-layoutset-02 #hpb-main .section textarea, .hpb-layoutset-02 #hpb-main .hpb-section .section div textarea{
    height: 160px;
}
.hpb-layoutset-02 #hpb-main #contact .section input:focus, .hpb-layoutset-02 #hpb-main #contact .section textarea:focus, .hpb-layoutset-02 #hpb-main .hpb-section .section div input:focus, .hpb-layoutset-02 #hpb-main .hpb-section .section div textarea:focus{
    background: #222;
    border: none;
}
.hpb-layoutset-02 #hpb-main form .section p a{
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.hpb-layoutset-02 #hpb-main .section input.s{
    display: inline-block;
    width: 30px;
    margin: 5px 5px 5px 0;
}
.hpb-layoutset-02 #hpb-main #reserve .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #information .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #contact .hpb-section .submit div, .hpb-layoutset-02 #hpb-main #contactus .hpb-section .submit div{
    margin: 0 auto;
    text-align: center;
}

/* ========== contactus ========== */
.hpb-layoutset-02 #hpb-main #contact dl, .hpb-layoutset-02 #hpb-main #contactus dl{
    margin: 15px;
}
.hpb-layoutset-02 #hpb-main #contact dt, .hpb-layoutset-02 #hpb-main #contactus dt{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #contact dd, .hpb-layoutset-02 #hpb-main #contactus dd{
    margin: 0 0 5px;
    overflow: hidden;
}
.hpb-layoutset-02 #hpb-main #contactus .hpb-section p{
    margin-bottom: 0;
    line-height: 1.8;
}
.hpb-layoutset-02 #hpb-main #contactus .hpb-section .section{
    margin-bottom: 20px;
    padding: 6px 15px 0;
}
.hpb-layoutset-02 #hpb-main #contactus .hpb-section .section div{
    padding: 0 10px;
}
.hpb-layoutset-02 #hpb-main #contact .section input.s{
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 5px;
}

/* ========== Privacy Policy ========== */
.hpb-layoutset-02 #hpb-main #privacy p:first-child{
    padding: 20px 15px 30px;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main #privacy ul{
    padding: 0 15px;
    list-style: none;
}
.hpb-layoutset-02 #hpb-main #privacy li{
    background-image : url(ico_plus_bule_s_00_1.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    padding: 0 0 5px 12px;
    color: #fff;
}

/* 縦向き表示時のみ適用 */
@media only screen and (orientation : portrait)
{
    .hpb-layoutset-02 #hpb-main #privacy h3{
        letter-spacing: -1px;
    }
}

/* ========== Policy ========== */
.hpb-layoutset-02 #hpb-main #policy .hpb-section
{
}
.hpb-layoutset-02 #hpb-main #policy .hpb-section img{
    display: block;
    margin: 0 15px 5px;
}
.hpb-layoutset-02 #hpb-main #policy .hpb-section h4{
    font-size: 14px;
    margin: 20px 0 5px;
}
.hpb-layoutset-02 #hpb-main #policy .hpb-section ol li{
    margin: 0 15px 20px 0;
}
.hpb-layoutset-02 #hpb-main #policy .hpb-section ol h4{
    font-size: 14px;
    margin: 0 0 5px;
    padding-left: 0;
}
.hpb-layoutset-02 #hpb-main #policy .hpb-section table
{
}

/* ========== Law ========== */
.hpb-layoutset-02 #hpb-main #law dl{
    margin: 0 15px;
    padding: 10px 0;
    color: #bebebe;
}
.hpb-layoutset-02 #hpb-main #law dt{
    float: left;
    width: 7em;
    margin-right: 10px;
    font-weight: bold;
}
.hpb-layoutset-02 #hpb-main #law dd{
    margin: 0 0 10px;
    overflow: hidden;
}

